<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shang.better.dao.TOmsOrderMapper">
	<resultMap id="BaseResultMap" type="shang.better.model.TOmsOrder">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="lot_no" jdbcType="INTEGER" property="lotNo" />
		<result column="order_name" jdbcType="VARCHAR" property="orderName" />
	</resultMap>
	<sql id="Base_Column_List">
	  	id,lot_no,order_name
	</sql>
	<insert id="insert" parameterType="shang.better.model.TOmsOrder">
	    insert into t_oms_order (id, lot_no, order_name
	      )
	    values (#{id,jdbcType=INTEGER}, #{lotNo,jdbcType=INTEGER}, #{orderName,jdbcType=VARCHAR}
	      )
	  </insert>
	  <insert id="insertSelective" parameterType="shang.better.model.TOmsOrder">
	    insert into t_oms_order
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        id,
	      </if>
	      <if test="lotNo != null">
	        lot_no,
	      </if>
	      <if test="orderName != null">
	        order_name,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        #{id,jdbcType=INTEGER},
	      </if>
	      <if test="userName != null">
	        #{lotNo,jdbcType=INTEGER},
	      </if>
	      <if test="userCode != null">
	        #{orderName,jdbcType=VARCHAR},
	      </if>
	    </trim>
	  </insert>
	  <select id="selectTOmsOrderById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	  	select <include refid="Base_Column_List" /> from t_oms_order where id = #{id,jdbcType=INTEGER}
	  </select>
	
</mapper>
