<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shang.better.dao.TOmsOrderDtlMapper">
	<resultMap id="BaseResultMap" type="shang.better.model.TOmsOrderDtl">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="order_id" jdbcType="INTEGER" property="orderId" />
		<result column="lot_no" jdbcType="INTEGER" property="lotNo" />
		<result column="product_id" jdbcType="INTEGER" property="productId" />
		<result column="product_name" jdbcType="VARCHAR" property="productName" />
	</resultMap>
	<sql id="Base_Column_List">
	  	id,order_id,lot_no,product_id,product_name
	</sql>
	<insert id="insert" parameterType="shang.better.model.TOmsOrderDtl">
	    insert into t_oms_order_dtl (id,order_id,lot_no,product_id,product_name
	      )
	    values (#{id,jdbcType=INTEGER},#{orderId,jdbcType=INTEGER}, #{lotNo,jdbcType=INTEGER},#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}
	      )
	  </insert>
	  <insert id="insertSelective" parameterType="shang.better.model.TOmsOrderDtl">
	    insert into t_oms_order_dtl
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        id,
	      </if>
	      <if test="orderId != null">
	        order_id,
	      </if>
	      <if test="lotNo != null">
	        lot_no,
	      </if>
	      <if test="productId != null">
	        product_id,
	      </if>
	      <if test="productName != null">
	        product_name,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        #{id,jdbcType=INTEGER},
	      </if>
	      <if test="orderId != null">
	        #{order_id,jdbcType=INTEGER},
	      </if>
	      <if test="lotNo != null">
	        #{lot_no,jdbcType=INTEGER},
	      </if>
	      <if test="productId != null">
	        #{product_id,jdbcType=INTEGER},
	      </if>
	      <if test="productName != null">
	        #{product_name,jdbcType=VARCHAR},
	      </if>
	    </trim>
	  </insert>
	  <select id="selectTOmsOrderDtlById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	  	select <include refid="Base_Column_List" /> from t_oms_order_dtl where id = #{id,jdbcType=INTEGER}
	  </select>
	
</mapper>
