<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shang.better.dao.TOmsOrderBatchMapper">
	<resultMap id="BaseResultMap" type="shang.better.model.TOmsOrderBatch">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="batch_name" jdbcType="VARCHAR" property="batchName" />
	</resultMap>
	<sql id="Base_Column_List">
	  	id,batch_name
	</sql>
	<insert id="insert" parameterType="shang.better.model.TOmsOrderBatch">
	    insert into t_oms_batch_order (id,  batch_name
	      )
	    values (#{id,jdbcType=INTEGER}, #{batchName,jdbcType=VARCHAR}
	      )
	  </insert>
	  <insert id="insertSelective" parameterType="shang.better.model.TOmsOrderBatch">
	    insert into t_oms_batch_order
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        id,
	      </if>
	      <if test="batchName != null">
	        batch_name,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        #{id,jdbcType=INTEGER},
	      </if>
	      <if test="batchName != null">
	        #{batchName,jdbcType=INTEGER},
	      </if>
	    </trim>
	  </insert>
	  <select id="selectTOmsOrderBatchById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	  	select <include refid="Base_Column_List" /> from t_oms_batch_order where id = #{id,jdbcType=INTEGER}
	  </select>
	
</mapper>
